.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 8px;
  color: red;
  padding: 16px;
  width: 220px;
  font-size: var(--font-size16);
  line-height: var(--line-height16);
  color: var(--text-color);
  font-weight: var(--font-weight-medium);

  &.active {
    font-weight: var(--font-weight-bold);

    .icon {
      display: none;
    }
    .active-icon {
      display: block;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
}

.title {
  margin-left: 16px;
}
.active-icon {
  display: none;
}
