@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: 0, 0, 0;
  --text-color: #333;

  --font-size12: 12px;
  --font-size14: 14px;
  --font-size16: 16px;
  --font-size18: 18px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height16: 16px;
  --line-height18: 18px;
  --line-height24: 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  text-rendering: optimizeSpeed;
  height: 100%;
}
